/* 游戏全局样式 */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}